@charset "UTF-8";
/*Tablet*/
/*Global*/
@media screen and (min-width: 577px) and (max-width: 768px) {
  /*Menu*/
  .menu {
    display: none; }
  .menu__general {
    background-color: #000E2D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .menu__general .menu__general__image {
      width: 10%; }
    .menu__general .menu__general__list {
      list-style: none;
      display: flex;
      gap: 20px; }
      .menu__general .menu__general__list .menu__general__item {
        list-style: none;
        font-size: 1.1rem;
        text-align: end;
        padding-right: 1rem; }
        .menu__general .menu__general__list .menu__general__item a {
          color: #F2AF2D;
          text-decoration: none;
          font-weight: bold; }
  /* Titulos das Páginas */
  .titulos {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0rem; }
  /*Home*/
  #home {
    background-image: url("/Imagens/espaço.jpg");
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem; }
    #home h3 {
      font-size: 1.3rem;
      color: #ffffff;
      text-align: center;
      background-color: rgba(204, 204, 204, 0.4);
      padding-top: 1rem;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 5rem;
      margin-bottom: 0rem; }
    #home div {
      font-size: 1.1rem;
      color: #ffffff;
      text-align: justify;
      background-color: rgba(204, 204, 204, 0.4);
      padding: 1rem 1.5rem 1.5rem 0rem;
      margin-right: 2%;
      margin-left: 2%; }
  /*Rodapé*/
  #rodape {
    background-color: #000E2D;
    text-align: left;
    padding: 0.1rem 0.5rem 0.5rem 0.5rem; }
    #rodape p {
      color: aliceblue;
      line-height: 2;
      font-weight: normal;
      font-size: 90%; }
      #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold; } }
