@charset "UTF-8";
/*Mobile*/
@media screen and (max-width: 576px) {
  /*Menu*/
  .menu__general {
    display: none; }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    background-color: #000E2D; }
    .menu .menu__image {
      width: 15%; }
  .menu__list {
    background-color: #000E2D;
    padding: 10px; }
    .menu__list .menu__item {
      list-style: none;
      font-size: 16px;
      text-align: end; }
      .menu__list .menu__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold; }
  /* Titulos das Páginas */
  .titulos {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0rem; }
  /*Home*/
  #home {
    background-image: url("../Imagens/espaço.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem; }
    #home h3 {
      font-size: 1.5rem;
      color: #ffffff;
      text-align: center;
      background-color: rgba(204, 204, 204, 0.4);
      padding-top: 1rem;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 5rem;
      margin-bottom: 0rem; }
    #home div {
      font-size: 1.1rem;
      color: #ffffff;
      text-align: justify;
      background-color: rgba(204, 204, 204, 0.4);
      padding: 1rem 1.5rem 1.5rem 0rem;
      margin-right: 2%;
      margin-left: 2%; }
  /* Viagens */
  #viagens {
    margin-bottom: 3.5rem;
    padding: 2rem 2rem; }
    #viagens .titulos {
      color: #000E2D;
      padding-bottom: 3rem; }
    #viagens #carousel_align {
      display: flex;
      justify-content: center;
      margin-left: 10%;
      margin-right: 10%; }
  .imgPlaneta {
    width: 50vh !important;
    height: 40vh !important; }
  .boxPlaneta {
    width: 50vh;
    background-image: linear-gradient(to bottom, #AFCCDA, #e0e0e0);
    display: inline-block;
    vertical-align: top; }
    .boxPlaneta h4 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      padding: 1.5rem 0rem 1rem 0rem;
      color: #000E2D; }
    .boxPlaneta p {
      font-size: 1.1rem;
      font-weight: bold;
      text-align: justify;
      color: #000E2D;
      padding: 1rem 1rem 0rem 1rem; }
  /*Novidades*/
  #novidades {
    background-image: url("../Imagens/novidades.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem; }
    #novidades h3 {
      font-size: 1.5rem;
      padding-top: 1rem;
      color: #ffffff;
      text-align: center;
      background-color: rgba(204, 204, 204, 0.4);
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 5rem;
      margin-bottom: 0rem; }
    #novidades div {
      font-size: 1.1rem;
      color: #ffffff;
      text-align: justify;
      background-color: rgba(204, 204, 204, 0.4);
      padding: 1rem 1.5rem 1.5rem 0rem;
      margin-left: 2%;
      margin-right: 2%; }
  /*Quem Somos*/
  #quemSomos {
    margin-bottom: 3.5rem;
    padding: 2rem 2rem; }
    #quemSomos .titulos {
      color: #000E2D;
      padding-bottom: 3rem; }
  .quemSomosImagem {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem; }
  .quemSomosTexto {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem; }
  .imgPessoa img {
    width: 17vh;
    display: inline-block; }
  .boxPessoa {
    width: 20vh;
    height: auto;
    background-color: #F2AF2D;
    padding-top: 0rem;
    display: inline-block; }
    .boxPessoa p {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      color: #000E2D;
      padding: 1rem 1rem 0rem 1rem; }
  /*Rodapé*/
  #rodape {
    background-color: #000E2D;
    text-align: left;
    padding: 0.1rem 0.5rem 0.5rem 0.5rem; }
    #rodape p {
      color: aliceblue;
      line-height: 1;
      font-weight: normal;
      font-size: 90%; }
      #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold; } }
